/*
.layout-blank {
  .auth-wrapper {
    min-block-size: 100dvh;
  }

  .auth-v1-top-shape,
  .auth-v1-bottom-shape {
    position: absolute;
  }

  .auth-footer-mask {
    position: absolute;
    inset-block-end: 0;
    min-inline-size: 100%;
  }

  .auth-card {
    z-index: 1 !important;
  }

  .auth-illustration {
    z-index: 1;
  }

  .auth-v1-top-shape {
    inset-block-start: -77px;
    inset-inline-start: -45px;
  }

  .auth-v1-bottom-shape {
    inset-block-end: -58px;
    inset-inline-end: -58px;
  }

  @media (min-width: 1264px), (max-width: 959px) and (min-width: 450px) {
    .v-otp-input .v-otp-input__content {
      gap: 1rem;
    }
  }
}

@media (min-width: 960px) {
  .skin--bordered {
    .auth-card-v2 {
      border-inline-start: 1px solid rgba(var(--v-border-color), var(--v-border-opacity)) !important;
    }
  }
}

.auth-logo {
  position: absolute;
  z-index: 2;
  inset-block-start: 2rem;
  inset-inline-start: 2.3rem;
}

.auth-title {
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 1.5rem;
  text-transform: capitalize;
}
*/

$screen-xs: 767px;

// Usage: @include font-size(14px, 20px, 500, #0E121B, -0.096px); // sab apply hoga
// Usage:  @include font-size(16px, null, 700, null, null); // sirf size & weight apply honge
@mixin font-size($size: null, $line-height: null, $weight: null, $color: null, $letter-spacing: null) {
  @if $size != null {
    font-size: $size;
  }
  @if $line-height != null {
    line-height: $line-height;
  }
  @if $weight != null {
    font-weight: $weight;
  }
  @if $color != null {
    color: $color;
  }
  @if $letter-spacing != null {
    letter-spacing: $letter-spacing;
  }
}

.sec-auth-wrapper{
  background: #fff;
  .v-container--fluid{
    padding: 0;
    .auth-grid{
      display: grid;
      grid-template-columns: 608px 1fr;
      align-items: center;
      height: 100vh;
      //padding: 8px;
      @media screen and (max-width: 1199px) {
        padding: 0;
        display: block;
      }
      .auth-form-wrapper{
        height: 100%;
        padding: 24px 44px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
        @media screen and (max-height: 900px) and (min-width: 1200px) {
          //display: block;
        }
        @media screen and (max-width: $screen-xs) {
          height: auto;
          min-height: 100vh;
          padding: 24px;
        }
        .auth-header{
          position: relative;
          width: 100%;
          a.logo{
            img{
              max-width: 150px;
            }
          }
        }
        .auth-form{
          width: 100%;
          max-width: 392px;
          margin: auto;
          .user-wrapper{
            width: 96px;
            height: 96px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(180deg, rgba(113, 119, 132, 0.1) 0%, rgba(113, 119, 132, 0) 100%);
            margin: 0 auto 8px;
            .user-icon{
              width: 64px;
              height: 64px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #fff;
              border: 1px solid #E1E4EA;
              box-shadow: 0 1px 2px 0 #0A0D1408;
              img{
                max-width: 20px;
              }
            }
          }
          .about-company{
            margin-bottom: 24px;
            text-align: center;
            h3{
              @include font-size(24px, 32px, 500, #0E121B, -0.36px);
              margin-bottom: 8px;
            }
            p{
              @include font-size(16px, 24px, 400, #525866, -0.176px);
              margin-bottom: 0;
            }
          }
          .form-wrapper{
            ul.social-login{
              margin-bottom: 24px;
              li{
                display: block;
                a.social-btn{
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  gap: 8px;
                  height: 40px;
                  width: 100%;
                  background: #fff;
                  border-radius: 10px;
                  border: 1px solid #E1E4EA;
                  box-shadow: 0 1px 2px 0 #0A0D1408;
                  @include font-size(14px, 20px, 500, #0E121B, -0.096px);
                  padding: 12px;
                  .icon{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  }
                }
              }
            }
            .or-divider{
              position: relative;
              margin-bottom: 24px;
              text-align: center;
              &:before {
                content: "";
                background: #E1E4EA;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                top: 13px;
              }
              span {
                @include font-size(11px, 12px, 500, #99A0AE, 0.22px);
                background: #fff;
                display: inline-block;
                position: relative;
                z-index: 2;
                padding: 0 10px 0;
              }
            }
            .form{
              .v-row{
                padding: 0 6px;
                .v-col{
                  padding: 0 6px;
                  &.v-col-6{

                  }
                }
              }
              .form-group{
                margin-bottom: 12px;
                &.forgot-group{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  gap: 20px;
                  margin-top: 24px;
                }
                &.submit{
                  margin-top: 24px;
                  .v-btn{
                    min-width: 100%;
                    box-shadow: none;
                    border-radius: 10px;
                    height: 40px;
                    @include font-size(14px, 20px, 500, #fff, -0.096px);
                  }
                }
                .error-message{
                  display: flex;
                  align-items: center;
                  gap: 6px;
                  &.mt-12{
                    margin-top: 12px!important;
                  }
                  &.mt-4{
                    margin-top: 4px!important;
                  }
                  &.gray{
                    p{
                      color: #525866;
                    }
                  }
                  .icon{
                    max-width: 12px;
                  }
                  p{
                    margin-bottom: 0;
                    @include font-size(12px, 16px, 500, #FB3748, -0.096px);
                  }
                }
                label{
                  @include font-size(14px, 20px, 500, #0E121B, -0.096px);
                  display: inline-flex;
                  align-items: center;
                  gap: 1px;
                  margin-bottom: 4px;
                  sup{
                    top: 0;
                    @include font-size(14px, 1, 500, #335CFF, -0.096px);
                  }
                  span{
                    margin-left: 3px;
                    @include font-size(14px, 20px, 400, #525866, -0.096px);
                  }
                }
                .input-container{
                  width: 100%;
                  position: relative;
                  &.password-container{
                    .v-input{
                      .v-input__control{
                        .v-field{
                          padding: 0;
                          .v-field__append-inner{
                            width: 20px;
                            height: 20px;
                            display: block;
                            position: absolute!important;
                            right: 10px!important;
                            top: 9px!important;
                          }
                        }
                      }
                    }
                    .v-field__input{
                      padding: 10px 40px 10px 40px;
                      i{
                        width: 18px;
                        height: 18px;
                      }
                    }
                  }
                  &.has-icon{
                    .v-field__input{
                      padding: 10px 12px 10px 40px;
                    }
                  }

                  .icon{
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    left: 12px;
                    top: 33px;
                  }
                  .v-otp-input{
                    .v-otp-input__content{
                      gap: 10px;
                      .v-field{
                        height: 64px;
                        border-radius: 10px;
                        border: 1px solid #E1E4EA;
                        .v-field__field{
                          .v-otp-input__field{
                            @include font-size(24px, 32px, 400, #0E121B, -0.096px);
                          }
                        }
                      }
                    }
                  }
                  .vue-tel-input{
                    height: 40px;
                    border-radius: 10px;
                    //padding: 10px;
                    border: 1px solid #E1E4EA;
                    box-shadow: none;
                    .vti__dropdown{
                      padding: 0 26px 0 10px;
                      display: block;
                      position: relative;
                      border-right: 1px solid #E1E4EA;
                      &:hover{
                        background: transparent;
                      }
                      &.open{
                        background: transparent;
                        &:before{
                          transform: rotate(180deg);
                        }
                      }
                      &:before{
                        content: "";
                        background: url("@/assets/images/auth/down-arrow-gray-icon.svg") no-repeat center;
                        background-size: cover;
                        width: 9px;
                        height: 5px;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all .3s ease-in-out;
                      }
                      .vti__selection{
                        display: block;
                        .vti__flag{
                          margin: 0;
                          width: 20px;
                          height: 20px;
                          border-radius: 50%;
                          background-size: cover;
                        }
                        .vti__dropdown-arrow{
                          display: none;
                        }
                      }
                      ul.vti__dropdown-list{
                        top: 43px;
                        border-radius: 10px;
                        padding: 10px 0;
                        border: 1px solid #E1E4EA;
                        box-shadow: none;
                        li.vti__dropdown-item{
                          display: flex;
                          align-items: center;
                          gap: 10px;
                          &.highlighted{

                          }
                          .vti__flag{
                            margin: 0;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-size: cover;
                          }
                          strong{
                            @include font-size(14px, 20px, 400, #525866, -0.096px);
                          }
                          span{
                            @include font-size(12px, 18px, 400, #525866, -0.096px);
                          }
                        }
                      }
                    }
                    .vti__input{
                      padding: 12px 12px 9px;
                      @include font-size(14px, 20px, 400, #0E121B, -0.096px);
                    }
                  }
                  .v-field__input{
                    @include font-size(14px, 20px, 400, #0E121B, -0.096px);
                    border: unset;
                    outline: unset;
                    height: 40px;
                    border-radius: 10px;
                    padding: 10px 12px;
                    border: 1px solid #E1E4EA;
                    &::placeholder{
                      color: #99A0AE;
                    }
                    &:-webkit-autofill {
                      -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
                      -webkit-text-fill-color: #0E121B !important; /* text color override */
                      transition: background-color 5000s ease-in-out 0s !important; /* delay to hide default fill */
                    }
                  }
                  .v-field__outline,
                  .v-field__outline__start,
                  .v-field__outline__end {
                    border: none !important;
                    box-shadow: unset !important;
                    outline: unset !important;
                    background: unset !important;
                  }
                }
                .remember-wrapper{
                  .v-input{
                    .v-input__control{
                      .v-selection-control{
                        .v-selection-control__wrapper{
                          width: auto;
                          height: auto;
                          .v-selection-control__input{
                            width: auto;
                            height: auto;
                            margin: -3px 10px 0 0;
                          }
                        }
                        .v-label{
                          @include font-size(14px, 20px, 400, #0E121B, -0.096px);
                        }
                      }
                    }
                  }
                }
                .forgot-wrapper{
                  a{
                    @include font-size(14px, 20px, 500, #525866, -0.096px);
                    text-decoration: underline;
                  }
                }
              }
            }
            .no-account{
              margin-top: 28px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 12px;
              &.no-flex{
                display: block;
                text-align: center;
                >p{
                  margin-bottom: 4px;
                }
                .line-btn{
                  @include font-size(14px, 20px, 500, #0E121B, -0.096px);
                  text-decoration: underline;
                }
              }
              p{
                @include font-size(14px, 20px, 500, #525866, -0.096px);
                margin-bottom: 0;
              }
              a.tag-btn{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                padding: 6px 10px;
                height: 32px;
                background: #fff;
                border: 1px solid #E1E4EA;
                border-radius: 8px;
                box-shadow: 0 1px 2px 0 #0A0D1408;
                @include font-size(14px, 20px, 500, #525866, -0.096px);
              }
            }
          }
        }
        .auth-footer{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          width: 100%;
          margin-top: 14px;
          @media screen and (max-width: 991px) {
            margin-top: 40px;
          }
          p{
            @include font-size(14px, 20px, 500, #525866, -0.096px);
            margin-bottom: 0;
          }
          .select-language{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            .icon{
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            select{
              @include font-size(14px, 20px, 500, #525866, -0.096px);
              background: url("@/assets/images/auth/down-arrow-gray-icon.svg");
              background-repeat: no-repeat;
              background-size: 12px;
              background-position: calc(100% - 13px) 50%;
              border: unset;
              padding: 0 35px 0 0;
              /* Hide default arrow */
              appearance: none;
              -webkit-appearance: none; /* For Safari & Chrome */
              -moz-appearance: none;    /* For Firefox */
              &:focus{
                outline: unset;
              }
            }
          }
        }
      }
    }
    .auth-graphic{
      background: #F5F7FA;
      height: 100%;
      padding: 8px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1199px) {
        display: none;
      }
      img{
        width: 100%;
        height: calc(100vh - 23px);
        object-position: center;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }
}

